/* /Pages/FetchData.razor.rz.scp.css */
p[b-ic8t62fwc2] {
    color: white;
}

p em[b-ic8t62fwc2] {
    font-size: 25px;
}

h1[b-ic8t62fwc2] {
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
}
/* /Pages/Index.razor.rz.scp.css */
.main_heading[b-lwp0l6wdsh] {
    margin: 0px 0px 0px 40px;
    text-align: center;
    font: revert;
    display: block;
}

.discription[b-lwp0l6wdsh] {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: white;
}

p[b-lwp0l6wdsh] {
    font-family:sans-serif;
}

.surveyprompt[b-lwp0l6wdsh] {
    margin: 0px, 0px, 0px, 30px;
}
/* /Pages/Info.razor.rz.scp.css */
.main_heading[b-qrct0qyqd6] {
    margin: 0px 0px 0px 40px;
    text-align: center;
    font: revert;
    display: block;
    color: white;
    font-size: xxx-large;
}

.Questions[b-qrct0qyqd6] {
    color: white;
    font-size: 18px;
    font-family: fantasy;
    margin: 0px 0px 0px 1px;
}

.ans[b-qrct0qyqd6] {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 65px 30px;
    opacity: 0.7
}

ul[b-qrct0qyqd6] {
    color: white;
    margin: 30px 0px 0px 0px;
}

hr[b-qrct0qyqd6] {
    color: white;
}

.faq_span[b-qrct0qyqd6] {
    display: flex;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-5zdka51ut2] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 29, 62);
}

main[b-5zdka51ut2] {
    flex: 1;
}

.sidebar[b-5zdka51ut2] {
    background-image: linear-gradient(180deg, rgb(33, 33, 33) 0%, #212121 70%);
}

.top-row[b-5zdka51ut2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-5zdka51ut2]  a, .top-row[b-5zdka51ut2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-5zdka51ut2]  a:hover, .top-row[b-5zdka51ut2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-5zdka51ut2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5zdka51ut2] {
        display: none;
    }

    .top-row.auth[b-5zdka51ut2] {
        justify-content: space-between;
    }

    .top-row[b-5zdka51ut2]  a, .top-row[b-5zdka51ut2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5zdka51ut2] {
        flex-direction: row;
    }

    .sidebar[b-5zdka51ut2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5zdka51ut2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-5zdka51ut2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-5zdka51ut2], article[b-5zdka51ut2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-t5ol2jp5rv] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-t5ol2jp5rv] {
    height: 3.5rem;
    background-color: rgb(124, 124, 124);
}

.navbar-brand[b-t5ol2jp5rv] {
    font-size: 1.1rem;
    margin: 0px 0px 0px 20px;

}

.oi[b-t5ol2jp5rv] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-t5ol2jp5rv] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-t5ol2jp5rv] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-t5ol2jp5rv] {
        padding-bottom: 1rem;
    }

    .nav-item[b-t5ol2jp5rv]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-t5ol2jp5rv]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-t5ol2jp5rv]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-t5ol2jp5rv] {
        display: none;
    }

    .collapse[b-t5ol2jp5rv] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/SurveyPrompt.razor.rz.scp.css */
.surveyprompt_div[b-hb3dl32asb] {
    margin: 200px 0px 0px 0px;
    color: #41464B;
    background-color: #E2E3E5;
    border-color: #D3D6D8;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.messagebox_2[b-hb3dl32asb] {
    margin: 0px 0px 0px 30px;
}

.more_info[b-hb3dl32asb] {
    text-align: center;
}
